@font-face {
  font-family: katan;
  src: url(../public/font/Katanf.ttf);
}

@font-face {
  font-family: osaka;
  src: url(../public/font/osaka-re.ttf);
}

.titleBlindTest {
  color: rgb(128, 128, 255);
  font-size: 10vw;
  margin-left: 20vw;
  width: 60vw;
  font-family: osaka;
  position: absolute;
  margin-top: 20vh;
}

.lineundertitleblindtest{
  margin-left: 10vw;
  background-color: rgb(128, 128, 255);;
  width: 80vw;
  height: 2vh;
  position: absolute;
  margin-top: 47vh;
}
.leftgirlBlindtest {
  position: absolute;
  left: -14vw;
  height: 90vh;
}

.rightgirlBlindtest {
  position: absolute;
  left: 74vw;
  height: 90vh;
}

.backgroundBlindTest {
  background-image: url(../public/img/background-blindtest.jpg);
  width: 100vw;
  height: 100vh;
}

.lecteurBlindtest {
  margin-left: 15vw;
  width: 70.1vw;
  top: 5vh;
  position: absolute;
}

.gifBlindtest {
  position: absolute;
  top: 5vh;
  margin-left: 15vw;
  max-width: 70.1vw;
  border: 1px rgb(0, 0, 0) solid;
  height: 70vh;
}
.stateNumberBlindtest {
  position: absolute;
  left: 72vw;
  top: 5vh;
  font-family: katan;
  color: rgb(255, 255, 255);
  font-size: 5vw;
  -webkit-text-stroke: 1px black;
}

.totalNumberBlindtest {
  position: absolute;
  left: 76.5vw;
  top: 5vh;
  font-family: katan;
  color: rgb(255, 255, 255);
  font-size: 5vw;
  -webkit-text-stroke: 1px black;
}

.responseBlindtest {
  // position: absolute;
  // margin-left: auto;
  // margin-right: auto;
  // left: 0;
  // right: 0;
  // text-align: center;
  // width: 100%;
  font-size: 4vw;
  top: 80vh;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px black;
  font-family: katan;
}

.logoInstaLarge {
  width: 10vw;
}

.logoBlindtest {
  position: absolute;
  width: 15vw;
  height: 15vh;
  top: 81vh;
  left: 42.5vw;
}
