@font-face {
    font-family: coolvetica;
    src: url(../public/font/coolvetica-rg.otf);
}

.titleBlurryGame {
    color: rgb(215, 215, 255);
    font-size: 10vw;
    margin-left: 18vw;
    width: 64vw;
    font-family: osaka;
    position: absolute;
    margin-top: 5vh;
    -webkit-text-stroke: 1px black;
}

.lineUnderTitleBlurryGame {
    margin-left: 10vw;
    background-color: rgb(215, 215, 255);
    width: 80vw;
    height: 2vh;
    position: absolute;
    margin-top: 30vh;
    border: 1px solid black;
}

.tutoBlurryGame {
    position: absolute;
    font-size: 3vw;
    text-align: center;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 40vh;
    font-family: coolvetica;
}

.backgroundIMGBlurryGame {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.blurryImgBlurryGame {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    left: 0;
    right: 0;
    text-align: center;
    top: 10vh;
}

.wrap{
    overflow: hidden;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 70vh;
    left: 0;
    right: 0;
    text-align: center;
    top: 10vh;
}

.counterBlurryGame {
    position: absolute;
    font-family: katan;
    color: black;
    font-size: 7vw;
    left: 77vw;
    top: 10vh;
    -webkit-text-stroke: 1px white;
}

.totalNumberBlurryGame {
    position: absolute;
    left: 76.5vw;
    top: 68vh;
    font-family: katan;
    color: rgb(255, 255, 255);
    font-size: 4vw;
    -webkit-text-stroke: 1px black;
}

.stateNumberBlurryGame {
    position: absolute;
    left: 73vw;
    top: 68vh;
    font-family: katan;
    color: rgb(255, 255, 255);
    font-size: 4vw;
    -webkit-text-stroke: 1px black;
}

.responseBlurryGame {
    font-size: 4vw;
    top: 80vh;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
    font-family: katan;
}

.logoBlurryGame {
    position: absolute;
    width: 15vw;
    height: 15vh;
    top: 81vh;
    left: 42.5vw;
}
