@import "~bulma/bulma.sass";

@font-face {
  font-family: katan;
  src: url(../public/font/Katanf.ttf);
}

@font-face {
  font-family: osaka;
  src: url(../public/font/osaka-re.ttf);
}
// html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  // padding: 0;
  // margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.message_for_video {
  -webkit-text-stroke: 1px black;
}

.descriptionGaijinTeam {
  font-family: katan;
  font-size: 3vw;
  margin-left: 30vw;
  color: red;
}

button {
  width: 100%;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

html {
  scrollbar-width: none;
}