@font-face {
    font-family: katan;
    src: url(../public/font/Katanf.ttf);
  }
  
  @font-face {
    font-family: osaka;
    src: url(../public/font/osaka-re.ttf);
  }

.backgroundIMGjdi{
    position: absolute;
    width: 100vw;
    height: 99.2vh;
}

.logojdi{
    position: absolute;
    left: 50vw;
    right: 0;
    top: 45vh;
    width: 20vw;
    height: 20vh;
}

.titrejdi{
    position: absolute;
    font-family: osaka-re;
    color: rgb(0, 3, 173);
    font-size: 8vw;
    top: 10vw;
    left: 30vw;
}

.tutojdi{
    position: absolute;
    left: 34vw;
    top: 75vh;
    font-size: 3.5vw;
    font-family: katan;
    color: black;
}

.imagejdi{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 70vh;
    left: 0;
    right: 0;
    text-align: center;
    top: 10vh;
}

.responsejdi{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 85vh;
    font-family: katan;
    font-size: 4vw;
}

.responsejdi2{
    position: absolute;
    margin-left: 15vw;
    margin-right: 15vw;
    left: 10;
    right: 10;
    text-align: center;
    top: 81vh;
    font-family: katan;
    font-size: 3vw;
}