@font-face {
    font-family: theboldfont;
    src: url(../public/font/theboldfont.ttf);
  }
  

.backgroundjdm {
    position: absolute;
    width: 100vw;
    height: 99.2vh;
  }
  

.titlejdm {
    position: absolute;
    font-family: osaka-re;
    color: rgb(153, 0, 173);
    font-size: 8vw;
    top: 10vw;
    left: 30vw;
  }
  
  .logojdm {
    position: absolute;
    left: 70vw;
    right: 0;
    top: 65vh;
    width: 20vw;
    height: 20vh;
  }
  
  .tutojdm {
    position: absolute;
    width: 60vw;
    left: 20vw;
    top: 45vh;
    font-size: 2.5vw;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    color: rgb(99, 0, 112);
  }
  
  .statejdm{
    position: absolute;
    font-size: 3vw;
    letter-spacing: 0.1vw;
  font-family: theboldfont;
    color: rgb(75, 0, 105);
    top: 8vh;
    left: 10vw;
}

.responsejdm {
    position: absolute;
    left: 30vw;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    font-size: 4vw;
    top: 5vh;
    color: rgb(255, 255, 255);
  }
  
  .noresponsejdm {
    position: absolute;
    left: 44vw;
    font-size: 4vw;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    top: 2vh;
    color: rgb(75, 0, 105);
  }
  
  .word1 {
    position: absolute;
    top: 20vh;
    left: 5vw;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    font-size: 3vw;
    color: rgb(40, 0, 56);
    width: 45vw;
  }
  
  .word2 {
    position: absolute;
    top: 20vh;
    left: 50vw;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    font-size: 3vw;
    color: rgb(40, 0, 56);
    width: 45vw;
  }
  .word3 {
    position: absolute;
    top: 33vh;
    left: 5vw;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    font-size: 3vw;
    color: rgb(40, 0, 56);
    width: 45vw;
  }
  .word4 {
    position: absolute;
    top: 33vh;
    left: 50vw;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    font-size: 3vw;
    color: rgb(40, 0, 56);
    width: 45vw;
  }
  .word5 {
    position: absolute;
    top: 46vh;
    left: 5vw;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    font-size: 3vw;
    color: rgb(40, 0, 56);
    width: 45vw;
  }
  .word6 {
    position: absolute;
    top: 46vh;
    left: 50vw;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    font-size: 3vw;
    color: rgb(40, 0, 56);
    width: 45vw;
  }
  .word7 {
    position: absolute;
    top: 59vh;
    left: 5vw;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    font-size: 3vw;
    color: rgb(40, 0, 56);
    width: 45vw;
  }
  .word8 {
    position: absolute;
    top: 59vh;
    left: 50vw;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    font-size: 3vw;
    color: rgb(40, 0, 56);
    width: 45vw;
  }
  .word9 {
    position: absolute;
    top: 72vh;
    left: 5vw;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    font-size: 3vw;
    color: rgb(40, 0, 56);
    width: 45vw;
  }
  .word10 {
    position: absolute;
    top: 72vh;
    left: 50vw;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    font-size: 3vw;
    color: rgb(40, 0, 56);
    width: 45vw;
  }
  

.pointjdm {
    position: absolute;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    top: 8vh;
    left: 75vw;
    font-size: 3vw;
    color: rgb(75, 0, 105);
  }
  
  .thanksjdm{
    position: absolute;
    font-family: theboldfont;
    font-size: 5vw;
    left: 20vw;
    top: 20vh;
  }
  
  .logojdmthanks{
    position: absolute;
    left: 30vw;
    right: 0;
    top: 40vh;
    width: 40vw;
    height: 40vh;
  }
  