@font-face {
    font-family: ZandaLover;
    src: url(../public/font/ZandaLover.otf);
}

.cadretitle1 {
    width: 40vw;
    left: 7vw;
    position: absolute;
    height: 60vh;
    top: 10vh;
    color: white;
    text-align: center;
}

.title1,.title2 {
    position: absolute;
    font-size: 6vw;
    font-family: ZandaLover;
}

.titile1small, .titile2small{
    position: absolute;
    font-size: 4vw;
    font-family: ZandaLover;
}

.cadretitle2{
    width: 40vw;
    left: 57vw;
    position: absolute;
    height: 60vh;
    top: 10vh;
    color: black;
    text-align: center;
}

.cadrereponse1{
    width: 55vw;
    text-align: center;
    position: absolute;
    top: 65vh;
    font-size: 8vw;
    font-family: ZandaLover;
    color: white;
}

.cadrereponse2{
    width: 55vw;
    left: 50vw;
    text-align: center;
    position: absolute;
    top: 65vh;
    font-size: 8vw;
    font-family: ZandaLover;
    color: black;
}

.descr1{
    // left: 10vw;
    // text-align: center;
    top: 75vh;
    // text-align: center;
    position: absolute;
    font-size: 2vw;
    font-family: ZandaLover;
    color: white;
}

.descr2{
    // text-align: center;
    top: 75vh;
    // text-align: center;
    position: absolute;
    font-size: 2vw;
    font-family: ZandaLover;
    color: black;
}