@font-face {
    font-family: katan;
    src: url(../public/font/Katanf.ttf);
  }

.imgbackgroundqcm {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  
.logoqcm{
    position: absolute;
    left: 72vw;
    right: 0;
    top: 10vh;
    width: 20vw;
    height: 20vh;
}

.titleqcm {
    left: 25vw;
    /* right: auto; */
    text-align: center;
    font-family: katan;
    position: absolute;
    font-size: 8vw;
    top: 25vh;
  }

  .questionqcm {
    position: absolute;
    font-size: 3vw;
    color: rgb(0, 0, 0);
    width: 60vw;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    left: 10vw;
    top: 10vh;
    line-height: 7vh;
  }
  
  .proposition1qcm,
  .proposition2qcm,
  .proposition3qcm,
  .proposition4qcm {
    position: absolute;
    font-size: 3vw;
    letter-spacing: 0.1vw;
    font-family: theboldfont;
    left: 10vw;
    top: 40vh;
    width: 40vw;
    line-height: 6vh;
    color: rgb(143, 19, 137);
  }

  .proposition2qcm,.proposition4qcm {
    left: 55vw;
  }
  
  .proposition3qcm,.proposition4qcm{
      top: 70vh;
  }
  
  
  .numberqcm {
    position: absolute;
    font-family: katan;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    top: 85vh;
    left: 85vw;
}

.thanksqcm{
  position: absolute;
  font-family: theboldfont;
  font-size: 5vw;
  left: 20vw;
  top: 20vh;
}
