@font-face {
    font-family: ZandaLover;
    src: url(../public/font/ZandaLover.otf);
  }

  .numberquizz{
    position: absolute;
    font-family: ZandaLover;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    top: 10vh;
    left: 85vw;
  }

.questionquizz {
    position: absolute;
    font-size: 3vw;
    color: rgb(255, 0, 200);
    width: 80vw;
    letter-spacing: 0.1vw;
    font-family: ZandaLover;
    left: 10vw;
    top: 25vh;
    line-height: 6vh;
}

.responsequizz{
    position: absolute;
    font-family: ZandaLover;
    font-size: 4vw;
    width: 80vw;
    left: 10vw;
    color: #00ffff;
    top: 65vh;
}