.logoInsta {
    // width: 3vw;
    // height: 6vh;
}

.name {
    // font-size: 2.5vw;
    // color: rgb(248, 42, 33);
    // font-family: roboto;
    // font-weight: 900;
    // -webkit-text-stroke: 0.1px rgb(209, 16, 16);
}
