
.backgroundvof{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.titlevof,.titlevof2{
    position: absolute;
    font-family: katan;
    font-size: 5vw;
    left: 10vw;
    top: 30vh;
}


.logovof{
    position: absolute;
    left: 60vw;
    right: 0;
    top: 30vh;
    width: 30vw;
    height: 30vh;
}

.titlevof2{
top: 10vh;
}

.questionvof{
    position: absolute;
    letter-spacing: 0.2vw;
    font-family: theboldfont;
    font-size: 3vw;
    width: 40vw;
    left: 5vw;
    color: rgb(0, 156, 204);
    top: 30vh;
}

.responsevof{
    position: absolute;
    font-family: katan;
    font-size: 10vw;
    width: 40vw;
    left: 65vw;
    color: rgb(255, 255, 255);
    top: 5vh;
}

.responsevof2{
    position: absolute;
    letter-spacing: 0.2vw;
    font-family: theboldfont;
    font-size: 3vw;
    width: 40vw;
    left: 55vw;
    color: rgb(0, 0, 0);
    top: 30vh;
}

.logovof2{
    position: absolute;
    left: 41vw;
    right: 0;
    top: 80vh;
    width: 15vw;
    height: 15vh;
}

.thank{
    position: absolute;
    font-family: katan;
    font-size: 4vw;
    width: 40vw;
    left: 58vw;
    color: rgb(255, 255, 255);
    top: 40vh;
}

.numbervof {
    position: absolute;
    font-family: katan;
    font-size: 3vw;
    color: rgb(88, 88, 88);
    top: 85vh;
    left: 5vw;
}